{% extends "dash/base.html" %}
{% block 'title' %}Articles{% endblock 'title' %}
{% block 'css' %}
{% endblock 'css' %}
{% block 'body' %}
<div class="container-fluid">
    <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
        <div class="flex-grow-1">
            <h4 class="fs-18 fw-semibold m-0">Articles</h4> 
        </div>
        <a aria-label="Add Editor" class="btn btn-sm bg-primary-subtle" data-bs-toggle="tooltip" data-bs-original-title="Add Articles" href="/add_article">Add Articles</a>
    </div>

    <div class="row">
    
        <div class="col-12">
            
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table datatable" id="datatable_1">
                            <thead>
                              <tr>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for i in articles %}
                                <tr>
                                    <td class="ps-0">
                                        <p class="d-inline-block align-middle mb-0">
                                            <span>{{i.title}}</span> 
                                        </p>
                                    </td>
                                    {% if i.status == "published" %}
                                    <td>
                                        <span class="badge bg-warning-subtle text-warning">Published</span>
                                    </td>
                                    {% elif i.status == "draft" %}
                                    <td>
                                        <span class="badge bg-warning-subtle text-success">Draft</span>
                                    </td>
                                    {% endif %}
                                    
                                    {% if i.status == "published" %}
                                    <td>
                                        <a aria-label="anchor" class="btn btn-sm bg-primary-subtle" data-bs-toggle="tooltip" data-bs-original-title="Disable Article" href="/disable_article/{{i.id}}">Disable</a>
                                        <a aria-label="anchor" class="btn btn-sm bg-success-subtle" data-bs-toggle="tooltip" data-bs-original-title="Edit Article" href="/edit_article/{{i.slug}}">Edit</a>
                                        <a aria-label="anchor" class="btn btn-sm bg-danger-subtle" data-bs-toggle="tooltip" data-bs-original-title="Delete Article" href="/delete_article/{{i.id}}">Delete</a>
                                    </td>
                                    {% elif i.status == "draft" %}
                                    <td>
                                        <a aria-label="anchor" class="btn btn-sm bg-primary-subtle" data-bs-toggle="tooltip" data-bs-original-title="Enable Article" href="/enable_article/{{i.id}}">Enable</a>
                                        <a aria-label="anchor" class="btn btn-sm bg-success-subtle" data-bs-toggle="tooltip" data-bs-original-title="Edit Article" href="/edit_article/{{i.slug}}">Edit</a>
                                        <a aria-label="anchor" class="btn btn-sm bg-danger-subtle" data-bs-toggle="tooltip" data-bs-original-title="Delete Article" href="/delete_article/{{i.id}}">Delete</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock 'body' %}
{% block 'script' %}{% endblock 'script' %}